.signform {
    padding-top: 70px;
}

.nomargintop {
    margin-top: 4px;
}

.loginform {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #bbb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bbb;
}

.checkboxfont {
    color: black;
}

.message {
    display:inline;
}

.inlineoveride {
    display:none;
}

.logout {
    color: yellow !important;
}

.margintop40 {
    margin-top: 40px;
}

.dashboard {
    margin-top: 70px;
}

.marginbottom34 {
    margin-bottom: 34px;
}

.mainboard {
    font-size: 24px;
}

.captureitemsheadings {
    margin-top: 5px;
}

.articletable {
    margin-top: 21px;
}

.addnewarticleTinyMcContainer {
    /*border-bottom-color:#bbb;
    border-bottom-style:solid;
    border-bottom-width:1px;*/
    padding-bottom:20px;
}

.select2-container {
    width:228px;
}

.margintop20 {
    margin-top: 20px;
}

.articleboard {
    border-left-color: #bbb;
    border-left-width: 1px;
    border-left-style: solid;
}

.nocategoryalert {
    margin-top: 12px;
    margin-bottom: -21px;
}

#categoryNameChoosen {
    display:none;
}

#createCategory {
    margin-top: 7px;
    display:block;
}

#noCategoryAlertHeading {
    font-size: 20px;
    margin-bottom:4px;
}

.noCategoryAlertBody {
    font-size: 15px;
}

#categoryNameChoosen {
    margin-top: 4px;
    margin-bottom: 4px;
}

.newcategory {
    display: none;
    background-color:white !important;
    font-size:17px;
}

.savecategory {
    display: none;
}

.articlesboardcontainer {
    border-left-color:#bbb;
    border-left-style:solid;
    border-left-width:1px;
}

/*.articlesboardgrid {
    border-right-color:#bbb;
    border-right-style:solid;
    border-right-width:1px;
}*/

.captureitemsheadings {
    margin-top: 5px;
}

.articlestable {
    margin-top: 21px;
}

.categoriestable {
    margin-top: 25px;
}

.displayinline {
    display: inline;
    float:left;
    cursor:pointer;
}

.category {
    float:right;
    font-size:11px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.margintop14 {
    margin-top:14px;
}

.margintop10 {
    margin-top:10px !important;
}

.margintopminus10 {
    margin-top: -10px;
}

.marginbottom5 {
    margin-bottom:-5px;
}

.backgroundcolorwhite {
    background-color: white;
}

.categoriesborder {
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#bbb;
}

.capturenewcategory {
    padding: 11px;
}

.categorysaved {
    display:none;
}

.savingcategory , .categoryupdated {
    display: none;
}

.categoryExists , .updatingcategory, .deleteCategoryrow, .deletinggcategory, .categoryDeleted, .UnassignedCategoryExists{
    display:none;
}

.articleNotCompletelyFilledIn, .articleBeenSaved, .deleteArticle, .onArticleDeletingMessage, .onArticleDeletingSuccessfully, .editPencil, .editCategoryrow {
    display:none;
}

.cursor {
    cursor: pointer;
}

.createUnassignedCategory {
    margin-top: 10px;
}

.changeImageOne, .changeImageTwo {
    font-size: 12px;
    cursor: pointer;
}

.editFileUpload1, .editFileUpload2 {
    display:none;
}

.cancelEditFileUpload1, .cancelEditFileUpload2 {
    cursor: pointer;
    font-size: 12px;
}

.cancelFileUpload1, .cancelFileUpload2 {
    display: none;
}